name: CI Pipeline

on:
  pull_request:
    branches:
        - main
  push:
    branches: 
        - "**"

jobs:
    code-quality:
        runs-on: ubuntu-latest

        steps:
        - name: Checkout code
          uses: actions/checkout@v4

        - name: Setup Node and Dependencies
          uses: ./.github/actions/setup

        - name: Run Biome Linting
          run: npm run lint

        - name: Run Biome Formatting Check
          run: npm run format:check

    test:
        needs: code-quality
        runs-on: ubuntu-latest
        
        steps:
        - name: Checkout code
          uses: actions/checkout@v4

        - name: Setup Node and Dependencies
          uses: ./.github/actions/setup

        - name: Generate Prisma Client
          run: DATABASE_URL="postgresql://dummy:dummy@localhost/dummy" npx prisma generate

        - name: Run Tests with Coverage
          env:
            DATABASE_URL: "postgresql://dummy:dummy@localhost/dummy"
            JWT_SECRET: "test-secret-key-for-ci-testing-minimum-32-chars"
            JWT_EXPIRES: "24h"
          run: npm run test:coverage
    
    build:
        needs: test
        runs-on: ubuntu-latest
        
        steps:
        - name: Checkout code
          uses: actions/checkout@v4

        - name: Setup Node and Dependencies
          uses: ./.github/actions/setup
        
        - name: Generate Prisma Client
          run: DATABASE_URL="postgresql://dummy:dummy@localhost/dummy" npx prisma generate

        - name: Build Application
          run: npm run build